<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"><%= @user.name %></div>
      </div>
      <div class="panel-body">
        <img class="media-object img-rouded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
    <%= render 'relationships/follow_button', user: @user %>
  </aside>
  <div class="col-xs-8">
    <%= render 'layouts/infobar' %>
    <h2>お気に入り投稿</h2>
    <%= render 'posts/posts', posts: @favorites %>
    <h2>お気に入りコード</h2>
    <%= render 'codes/codes', codes: @code_favorites %>
  </div>
</div>