<ul class="media-list">
  <% posts.each do |post| %>
    <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#<%= post.id %>">
      <p>name: <%= post.user.name %></p>
      <p>題名: <%= post.summary %></p>
      <p>公開時間: <%= post.created_at.strftime('%Y/%m/%d') %></p>
    </button>
    <div id="<%= post.id %>" class="collapse">
      <li class="media">
        <div class="media-left">
          <img class="media-object img-rounded" src="<%= gravatar_url(post.user, { size: 50 }) %>" alt="">
        </div>
        <div>
          <div>
            <%= link_to post.user.name, user_path(post.user) %> <span class="text-muted">posted at <%= post.created_at %></span>
          </div>
          
          
          <div>
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">題名</h3>
              </div>
              <div class="panel-body">
                <p><%= post.summary %></p>
              </div>
            </div>
            
            <% if post.image? %>
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">画像</h3>
                </div>
                <div class="panel-body">
                  <p><%= image_tag post.image.url %></p>
                  <!-- Image_uploader.rbのprocessが先に処理される大きなサイズ、version thumb:の方は小さいサムネ用の画像-->
                  <%= link_to "ダウンロード", download_post_path(post) %>
                </div>
              </div>
            <% end %>
            
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">内容</h3>
              </div>
              <div class="panel-body">
                <p><%= post.content %></p>
              </div>
            </div>
          </div>
          
          
          <div>
            <%= render 'user_posts/favorite_button', post: post %>
            <% if current_user == post.user %>
              <%= link_to "Delete", post, method: :delete, data: { confirm: :"You sure?" }, class: 'btn btn-danger btn-xs' %>
            <% end %>
          </div>
          <% post.comments.each do |comment| %>
            <p><%= comment.content %></p>
            <p><%= comment.image %></p>
            <% if current_user == comment.user %>
              <%= link_to "Delete", comment, method: :delete, data: { confirm: :"You sure?" }, class: 'btn btn-danger btn-xs' %>
            <% end %>
          <% end %>
        </div>
        
        <%= form_for(post.comments.build) do |f| %>
          <div>
            <%= f.label :content, '内容' %>
            <%= f.text_area :content, class: 'form-control', rows: 5 %>
          </div>
          <div class="field">
            <%= f.label :image, '画像' %>
            <%= f.file_field :image %>
          </div>
          <%= hidden_field_tag :post_id, post.id %>
          <%= f.hidden_field :reply_comment, :value => post.user.name  %>
          <%= f.submit "返信する", class: 'btn btn-info btn-xs' %>
        <% end %>
      </li>
    </div>
  <% end %>
  <%= paginate posts %>
</ul>
